* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #00b894;
    --secondary-color: #2d3436;
    --background-color: #f5f6fa;
    --card-color: #ffffff;
    --text-color: #333;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 5%;
    background-color: white;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-link:hover {
    color: var(--primary-color);
}

.btn {
    padding: 0.8rem 1rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.card {
    background-color: var(--card-color);
    padding: 1.5rem;
    border-radius: 10px;
}